@model IEnumerable<LashmerAdmin.Models.DataModels.Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Order" asp-action="UploadOrders">
    <div>
        <span>Upload Orders:</span> <input type="file" name="file" value="Upload Orders "/> <input type="submit" value="Upload"/>
    </div>
    <div>
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>Order No.</th>
                <th>
                    Customer Name
                </th>
                <th>
                    Phone Number
                </th>
                @*<th>
                    Email
                </th>*@
                <th>
                    Products
                </th>
                <th>
                    Products Details
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Shipping
                </th>
                <th>
                    Total
                </th>
                <th>
                    Payment
                </th>
                @*<th>
                    Payment Method
                </th>*@
                <th>
                    Fulfillment
                </th>
                @*<th>
                    Refund
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.OrderItems.Count > 0)
                {
                    var orderItems = item.OrderItems.ToList();
                    <tr>
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.Customer.BillingCustomerName)
                        </td>
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
                        </td>
                        @*<td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.Customer.Email)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[0].ProductOption.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[0].ProductOption.OptionDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[0].Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[0].Price)
                        </td>
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.Shipping)
                        </td>
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.PaymentStatus)
                        </td>
                        @*<td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.PaymentMethod)
                        </td>*@
                        <td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.Fulfillment)
                        </td>
                        @*<td rowspan="@orderItems.Count">
                            @Html.DisplayFor(modelItem => item.Refund)
                        </td>*@
                        <td rowspan="@orderItems.Count">
                            <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                        </td>
                    </tr>
                    for (var i = 1; i < orderItems.Count; i++)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[i].ProductOption.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[i].ProductOption.OptionDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[i].Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderItems[i].Price)
                        </td>
                    </tr>
                    }
                }
            }
        </tbody>
    </table>
